body{
    font-family: 'Oswald', sans-serif;
    background-color: hsl(20, 27%, 96%)
    
    
}
h1{
    font-size: 40px;
   
    margin-bottom: 0%;
    font-weight: 900;
}
h2{
    font-size: 40px;
    text-align: center;

}

.name-highlight {
    color: tomato;
    font-size: 40px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding:2%;
}
.half-width img{
    width: 100%;
    border-radius: 15%;
}
.link-button{
    color: black;
    background-color: tomato;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bolder;
    border-radius: 20%;
}

.size-increase{
    font-size: 20px;
}
.about{
    color: tomato;
text-align: left;}
    
section{
    height: 500px;
}

.latest{
    text-align: center;
    color: tomato;
    font-size: 40px;
}
.last-section{
    background-color: rgb(240, 246, 247);
    margin-left: 80px;
    margin-right: 80px;
}
.project1{
    float: left;
    margin-right: 10px;
   box-shadow: 10px 10px 40px rgb(207, 202, 202) ;
   padding: 10px 15px;
   border-radius: 15px;

    
}
.project2{
    float: left;
    margin-right: 10px;
    box-shadow: 10px 10px 40px rgb(207, 202, 202) ;
    padding: 10px 15px;
    border-radius: 15px;
    
}
.project3{
    float: left;
    margin-right: 10px;
    box-shadow: 10px 10px 40px rgb(207, 202, 202) ;
    padding: 10px 15px;
    border-radius: 15px;
    
}

.image9{
    margin-left: 25%;
}
.image9-section{
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;

}

.stay-connected{
    font-size: 20px;
    color: rgb(129, 125, 125);
}


}

.quotes{
    background-color: blue;

}

.webquotes{
    box-shadow: 10px 10px 40px rgb(173, 173, 192);

    background-color: rgb(247, 240, 240);
    font-size: 18px;
    color: rgb(14, 12, 12);
    font-weight: lighter;
    
    
   
}

.icons{
    margin-left: 44%; 
    margin-top: 0%;}
    #QUOTES{
        color: tomato;
        font-weight: 900;
        
    }
    
